	*{
	font-family: "Calibri", sans-serif;
	font-weight: normal;
}


body{
	width: 1000px;
	margin: 0px auto;
}
.content-wrapper{
	padding: 0px 100px;
}
.header{
	text-align:center;
	border-bottom: 2px solid;
	padding-bottom: 10px;
	margin-top: 20px;
}
#name{
	font-size: 50px;
	margin-bottom: 0px;
}
h1{
	font-size: 28px;
	font-weight: bold;
}
h2{
	font-size: 24px;
	margin: 10px 0px;
}
p{
	font-size: 14px;
}
.description{
	padding-right: 100px;
}
ul{
	padding-left: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
}
li{
	font-size: 14px;
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

.links{
	margin: 0px auto;
}
.label{
	margin:0px;
}
.image{
	width: 30px;
	height: 30px;
}