
*{
	font-family: 'Source Sans Pro', sans-serif;
}
a{
	border: 0px;
	margin: 0px;
}
html{
	margin: 0px;
	padding: 0px;
	width: 100%;
	background: url("wallpaper1.jpg");
	background-position: center top;
	background-attachment: fixed;
	background-size: cover !important;
	margin-bottom: 5%;
}

#top-space{
	width: 100%;
	min-height: 100vh;
}

#name{
	font-size: 5vw;
	color: white;
	margin: auto;
	text-align: center;
	padding-top: 30vh;
	font-weight: lighter;
	font-family: 'Yantramanav', sans-serif;
}
#name::first-line{
	font-size: 7vw;
}
#me{
	font-family: 'Over the Rainbow', cursive;
}
#row-wrapper{
	background: url("body-image.jpg")  center center;
	background-attachment: fixed;
	background-size: cover;
	width: 80%;
	margin: 0px auto;
	padding-top: 2%;
}

.row{
	overflow: hidden; 
	width: 95%;
	margin: auto;
}

.picbox{
	float: left;
	width: 18%;
	margin-left: 3%;
	margin-right:3%;
	margin-top: 3%;
	margin-bottom: 1%;
}

.propic{
	width: 90%;
	height: 90%;
	border-radius: 50%;
	border: 5px solid rgba(150, 187, 247,.7);
}

.header{
	float:left;
	width: 70%;
	margin: auto;
	padding-top: 2%;
	padding-left: 2%;
}

#bio{
	margin: 2% 0%;
}

.links{
	width: 70%;
	margin: 3% 0% 0% 15%;
}
.links-data{
	float: left;
	width: 20%;
}
.icon{
	width: 3vw;
	height: 3vw;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.link-text{
	font-size: 1.1vw;
	text-align: center;
	margin-top: 0px;
}

.column{
	float: left;
	width: 20%;
	padding-left: 2%;
	padding-right:2%;
}
.work{
	float: left;
	width: 70%;
	padding-left: 5%;
	margin-bottom: 5%;
	border-left: 2px solid #d1ebff;
}
.work-entry{
	background-color: rgba(150, 187, 247,.3);
	margin: 0px 0% 4% 0px;
	padding: 15px;
	width: 90%;
	height:30%;
	float: left;
	clear: left;
	box-shadow: 4px 8px 10px 0 rgba(0, 0, 0, 0.4), 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
}

.logos{
	width: 10em;
	height:2em;
}

.album{
	width: 100%; 
	height: 80%;
}
.album-photo{
	border: 10px solid rgba(0,0,0,0);
}
.subheader{
	background-color: rgba(255, 0, 0,.5);
}
#anime{
	margin-left: 5%;
	width: 80%;
	height: 20%;
}
.anime-entry{
	float:left;
	width: 30%;
}
#anime-container{
	width: 100%;
	text-align: center;
}
.anime-img{
	width: 100%;
}

ul{
	padding-left: 10%;
}
	
h1{
	width:100%;
	font-size: 24px;
}
h2{
	font-size: 20px;
}
p{
	font-size: 18px;
}
li{
	font-size: 18px;
}


@media screen and (max-width: 800px){
	html{
		background-position: -4vw 0vw;
		margin-bottom: 0px;
	}
	body{
		height: 200vh;
		max-width: 100%;
		margin-bottom: 0px;
 	}
 	#top-space{
 	}

	#row-wrapper{
		width:93%;
		height: 94vh;
		margin: 2vh auto;
		overflow-y: auto;
		background-position: center top;
	}
	.row{
		width: 100%;
	}
	h1{
		width:100%;
		font-size: 30px;
	}
	.header{
		float:none;
		width: 90%;
		padding: 0%;
	}
	#bio{
		padding: 5%;
		text-align: justify;
	}
	.picbox{
		float: none;
		width: 90%;
		margin: auto;
		margin-top: 5%;
	}
	.propic{
		display: block;
		margin: auto;
		width: 30vw;
		height: 30vw;
	}
	.header{
		width: 100%;
		margin: 0px;
	}
	#name{
		font-size: 5vh;
	}
	#name::first-line{
		font-size: 10vh;
	}
	.links{
		width: 80%;
	}
	.icon{		
	width: 8vw;
	height: 8vw;
	padding: 0px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	}
	.link-text{
		font-size: 2vw;
	}
	.table-data{
		width: 100px;
		margin: auto;
	}
	.column{
		float: none;
		margin: auto;
		width: 90%;
	}
	.work{
		float: none;
		margin: auto;
		padding: 0%;
		width: 90%;
		border: none;

	}
	.work-entry{
		width: 90%;
	}
	.hobby{
		width: 90%;
		margin: auto;
	}
	.anime-text{
		font-size: 3vw;
	}

}