html, body{
  background-color: #1a2930;
  overflow-x: hidden;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 0px;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 0px;
}

.animation_idle{
  position: fixed;
  bottom: 30px;
  width: 50px;
  height: 90px;
  background: url('../img/animation/idle_xs.png') left center;
  animation: play_idle 2s steps(6) infinite;
  z-index: 50;
}

@keyframes play_idle{
  100% { background-position: -300px;}
}

.animation_walk{
  position: fixed;
  bottom: 30px;
  width: 50px;
  height: 90px;
  background: url('../img/animation/walk_xs.png') left center;
  animation: play_walk 1.4s steps(4) infinite;
  z-index: 50;
}

@keyframes play_walk{
  100% { background-position: 200px;}
}


.row{
	width: 100%;
	height: 100vh;
  margin: 0px;
	border-top: 3px solid;
}
#row1{
	background: url("../img/bgd.JPG")  center center;
	background-size: cover;
}
#name{
	font-size: 5vw;
	color: white;
	margin: auto;
	text-align: center;
	font-weight: lighter;
	font-family: 'Yantramanav', sans-serif;
	background-color: rgba(0,0,0,0.5);
}
#me{
	font-family: 'Over the Rainbow', cursive;
}

#top-space{
	width: 100%;
	height: 40vh;
}

.content-wrapper{
  position: absolute;
  width: 80%;
  margin-top: 50px;
  min-height: 100vh;
}

#content-me{
  left: 10vw;
}

#content-cornell{
  left: 110vw;
}

#content-work{
  left: 110vw;
}

#content-projects{
  left: 110vw;
}

#content-socmed{
  left: 110vw;
}

.card{
	background-color: white;
  margin-bottom: 5%;
	padding: 15px;
	box-shadow: 6px 10px 28px 2px rgba(0, 0, 0, 0.4), 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
}


.bold{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.heading{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 4.5vh;
}


.socmed-table{
  width: 100%;
  margin: 5% auto 0px auto;
  font-size: 16px;
}

.logos{
  height: 50px;
}

@media (min-width: 576px) {
  .heading{
    font-size: 6vh;
  }

  .socmed-table{
    width: 80%;
    margin: 5% auto 0px auto;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .heading{
    font-size: 6.5vh;
  }
  .card{
  }
}

@media (min-width: 992px) {
  .heading{
    font-size: 8vh;
  }
  .card{
    margin-right: 2%;
    margin-left: 5%;
  }

  .socmed-table{
    width: 40%;
    margin: 5% auto 0px auto;
    font-size: 24px;
  }

  .animation_idle{
    position: fixed;
    bottom: 30px;
    width: 125px;
    height: 225px;
    background: url('../img/animation/idle_sm.png') left center;
    animation: play_idle 2s steps(6) infinite;
    z-index: 50;
  }

  @keyframes play_idle{
    100% { background-position: -750px;}
  }

  .animation_walk{
    position: fixed;
    bottom: 30px;
    width: 125px;
    height: 225px;
    background: url('../img/animation/walk_sm.png') left center;
    animation: play_walk 1.4s steps(4) infinite;
    z-index: 50;
  }

  @keyframes play_walk{
    100% { background-position: 500px;}
  }
}

@media (min-width: 1200px) {
  .heading{
    font-size: 8vh;
  }
  .card{
    margin-right: 2%;
    margin-left: 5%;
  }

  .socmed-table{
    width: 40%;
    margin: 5% auto 0px auto;
    font-size: 24px;
  }

  .animation_idle{
    position: fixed;
    bottom: 30px;
    width: 125px;
    height: 225px;
    background: url('../img/animation/idle_sm.png') left center;
    animation: play_idle 2s steps(6) infinite;
    z-index: 50;
  }

  @keyframes play_idle{
    100% { background-position: -750px;}
  }

  .animation_walk{
    position: fixed;
    bottom: 30px;
    width: 125px;
    height: 225px;
    background: url('../img/animation/walk_sm.png') left center;
    animation: play_walk 1.4s steps(4) infinite;
    z-index: 50;
  }

  @keyframes play_walk{
    100% { background-position: 500px;}
  }
}
