*{
	font-size: 14px;
	font-family: "Times New Roman",serif;
}

html{
	background-color: #D3D3D3;
	/*
	background-image: url("http://i.imgur.com/4AqBtRj.jpg");
	background-repeat: repeat;
	*/
}
h1{
}
h2{

}


.row{
	overflow: hidden; width: 100%;
}

.picbox{
	 float:left;
	 margin: 1em 5em 0em 1em;
}

.profile{
	width: 15em;
	height: 15em;
	border-radius: 50%;
	border: 5px solid #18C0FF;
}

.header{
	float:left;
	width: 50%;

}
#bio::first-line{
	font-size: 500%;
}


.links{
	overflow: hidden;
	width: 50%;
}
.icon{
	width: 2em;
	height: 2em;
	float: left;
}
#github{
	float:left;
	width: 2em;
	margin-right: 2em;
}
#linkedin{
	float: left;
	width: 2em;
}
.column{
	float: left;
	width: 19em;
	margin: 0px 0px 30em 1em;
}
.work{
	float: left;
	width: 60%;
	padding-left: 2em;

}
.work-entry{
	background-color: #d1ebff;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
	margin: 0px 0% 4% 0px;
	padding: 15px;
	float: left;
	clear: left;
}
#ewhcornell{
	width:30%;
	height:30%;
}

.album{
	width: 40em; 
	height: 20em;
}
.album-photo{
	width: 100%; 
	height:auto;
}